@use "../partials/mixins";
@use "../partials/palette";

.main__form {
  @include mixins.centred-column;

  .form__label {
    margin: 12px 0;
  }

  .form__textarea {
    width: 100%;
    max-width: 600px;
    padding: 8px;
    @include mixins.form-colours-and-border;
  }

  .form__buttons {
    margin-top: 24px;

    .form__button {
      width: 180px;
      margin-right: 8px;
      padding: 4px 8px;
      @include mixins.form-colours-and-border;

      &:hover {
        background-color: palette.$hover-background-colour;
        cursor: pointer;
      }
    }
  }
}
