@use "../partials/mixins";
@use "../partials/palette";

.main__form {
  @include mixins.centred-column;

  .form__label {
    margin: 12px 0;
  }

  .form__textarea {
    width: 100%;
    margin-top: 16px;
    box-sizing: border-box;
    padding: 16px;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    @include mixins.form-colours-and-border;
  }

  .form__button-container {
    margin-top: 24px;

    .form__button {
      margin-right: 8px;
      padding: 8px 12px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0.05rem;
      @include mixins.form-colours-and-border;

      &:hover {
        background-color: palette.$hover-background-colour;
        cursor: pointer;
      }
    }
  }
}
