@use "../partials/mixins";

.main__translation {
  @include mixins.centred-column;
  margin-top: 60px;

  .translation__para {
    max-width: 600px;
    margin-top: 0;

    &--heading {
      display: none;
      text-decoration: underline;

      &--show {
        display: flex;
      }
    }

    .translation__text {
      &--morse-code {
        font-size: 28px;
      }

      &--invalid {
        color: red;
        font-weight: 500;
      }
    }
  }
}
